﻿@using MicroquizTest.Models;
@model PollFormViewModel
@{
    ViewBag.Title = "Create a Poll";
}

@{ Html.BeginForm(); }
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="btn-group">
                @*<button class="btn btn-default">Single Answer</button>
                <button class="btn btn-default">Multiple Answers</button>*@
                @Html.DropDownListFor(s => s.QuestionType, Model.QuestionTypes.Select(q => new SelectListItem { Text = q.Title, Value = ((int)q.ID).ToString() }),
                    new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.TextAreaFor(a => a.Title, new { @class = "form-control", placeholder = "Type your question here" })
        </div>
        @for (int i = 0; i < Model.Choices.Count; i++)
        {
            <text>
                <div class="form-group">
                    <div class="input-group">
                        <input type="hidden" name="@(Html.NameFor(m => m.Choices)).Index" value="@i" />
                        @Html.TextBoxFor(m => m.Choices[i].Title, new { placeholder = "Type an answer here", @class = "form-control" })
                        <a href="#" class="input-group-addon"><i class="glyphicon glyphicon-arrow-down"></i></a>
                        <a href="#" class="input-group-addon"><i class="glyphicon glyphicon-arrow-up"></i></a>
                        <a href="#" class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></a>
                        @Html.HiddenFor(m => m.Choices[i].Arrangement)
                    </div>
                </div>
            </text>
        }
        <div class="form-group text-right">
            <a class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></a>
        </div>
        <div class="form-group">
            <p>Check for duplicate responses?</p>
            <div class="btn-group">
                <button class="btn btn-default">Don't check</button>
                <button class="btn btn-default">Check by Browser</button>
                <button class="btn btn-default">Check by IP</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.CheckBoxFor(a => a.IncludeDemographicData)
                    <label for="@Html.NameFor(a => a.IncludeDemographicData)">Include demographic information</label>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.EndForm(); }